.App {

}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: black;
}

.Nav-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px 20px;
  list-style-type: none;
  font-family: lato;
  font-size: 20px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  color: black;
 
 
}

.List {
  float: center;
  text-decoration: none;
  color: black;
}

.List:hover{
  color: darkcyan;
}

.Text-input {
  padding: 5px 300px; 
}

.Button-submit {
  padding: 5px 20px;
  
}

.product {
  padding-left: 25%;
padding-right: 25%;
text-align: justify;

}

.Product-div {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  border: 1px solid #999;

}
img {
  padding: 10%;
  padding-left: 30px;
  padding-top: 10px;
  
}

.title {
 text-align: justify;
 padding-left: 27%;
 padding-top: 40px;
}

button {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  background-color:darkcyan;
  color:  white;
  border-radius: 10%;
  cursor:pointer;
}

button:active{
 background-color: red;
}
button:hover{
  background-color: red;
}

.Media {
  text-align: center;
}
.Text-input {
  margin-left: 27%;
  padding-left: 20%;
  padding-right: 10%;
  padding-bottom: 10px;
}

.page-number {
  display: inline-block;
  margin: 0 26px;
  padding-left: 26%;
  padding-top: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.page-number:hover {
  color:darkcyan;
}

.empty, .counts, .items-basket {
  text-align: center;
}

.total-price{
  border: 1px solid #999;
  background-color:#999;
  text-align: center;
  font-weight: bold;
  
}

.welcome-page, .p1, .work  {
  text-align: center;
  text-align: justify;
  padding-left: 30%;
}

